 {  
    margin: 0px;  
    padding: 0;  
    background-color:lightpink ;  
    font-family: 'Arial';
     
    
}  
.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;   
        padding:80px; 
        border-radius: 15px ; 
     background-repeat:no-repeat;
     background-position:auto;
     border:3px solid white;
     
     
}  
          
 
#signup{    
        width:300px;
        overflow: hidden; 
        padding:40px; 
        margin:auto; 
        border-radius: 15px ;
        border:3px solid white;
        
          
} 
h2{  
    text-align: center;  
    color: #277582;  
    padding: 20px;  
}  
label{  
    color: black;  
    font-size: 17px;  
}  
#email id{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}
#date of birth{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
} 
#contact No{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
 #Username{  
    width: 180px;  
    height: 25px;  
    border: none;  
    border-radius: 8px;  
    padding-left: 8px;  
}  
#Password{
 width: 180px;  
    height: 25px;  
    border: none;  
    border-radius: 8px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;  
  
  
}  
span{  
    color: white;  
    font-size: 17px;  
}  
a{  
    float: right;  
    background-radius:10px;
}
#forget{  
     width: 100px;  
    height: 30px;  
    border: none;  
    border-radius: 5px;  
    padding-left: 1px;  
    color: blue; 
}